commands:
  01_install_zbar_rpm:
    command: |
      cd /tmp
      wget https://dl.fedoraproject.org/pub/epel/8/Everything/x86_64/Packages/z/zbar-libs-0.23.90-5.el8.x86_64.rpm
      yum localinstall -y zbar-libs-0.23.90-5.el8.x86_64.rpm
      rm zbar-libs-0.23.90-5.el8.x86_64.rpm
      ldconfig -v | grep zbar  # Log confirmation
    test: "[ ! -f /usr/lib64/libzbar.so.0 ]"  # Skip if installed

  02_install_image_libs:
    command: yum install -y libjpeg-turbo libpng